## PandasAI
Pandas AI is a Python library that adds generative artificial intelligence capabilities to Pandas, the popular data analysis and manipulation tool.

In [1]:
!pip install -q pandasai

In [2]:
#Import pandasai library in python
import pandas as pd
import numpy as np
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

In [3]:
#Create a dataframe using dictionary with dummy data
data_dict = {
    "country": [
        "Delhi",
        "Mumbai",
        "Kolkata",
        "Chennai",
        "Jaipur",
        "Lucknow",
        "Pune",
        "Bengaluru",
        "Amritsar",
        "Agra",
        "Kolhapur",
    ],
    "annual tax collected": [
        19294482072,
        28916155672,
        24112550372,
        34358173362,
        17454337886,
        11812051350,
        16074023894,
        14909678554,
        43807565410,
        146318441864,
        np.nan,
    ],
    "happiness_index": [9.94, 7.16, 6.35, 8.07, 6.98, 6.1, 4.23, 8.22, 6.87, 3.36, np.nan],
}

In [4]:
df = pd.DataFrame(data_dict)

In [5]:
df.head()

   country  annual tax collected  happiness_index
0    Delhi          1.929448e+10             9.94
1   Mumbai          2.891616e+10             7.16
2  Kolkata          2.411255e+10             6.35
3  Chennai          3.435817e+10             8.07
4   Jaipur          1.745434e+10             6.98

In [6]:
df.tail()

      country  annual tax collected  happiness_index
6        Pune          1.607402e+10             4.23
7   Bengaluru          1.490968e+10             8.22
8    Amritsar          4.380757e+10             6.87
9        Agra          1.463184e+11             3.36
10   Kolhapur                   NaN              NaN

In [7]:
#Initialize an instance of pandasai
llm = OpenAI(api_token="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")
pandas_ai = PandasAI(llm, conversational=False)

In [8]:
#Trying pandas features using pandasai Finding index of a value
# finding index of a row using value of a column
response = pandas_ai(df, "What is the index of Pune?")
print(response)

You exceeded your current quota, please check your plan and billing details.
Unfortunately, I was not able to answer your question, because of the following error:

You exceeded your current quota, please check your plan and billing details.

In [9]:
response = pandas_ai(df, "Show the first 5 rows of data in tabular form")
print(response)

You exceeded your current quota, please check your plan and billing details.
Unfortunately, I was not able to answer your question, because of the following error:

You exceeded your current quota, please check your plan and billing details.

In [10]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

In [11]:
df = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", 
                "Australia", "Japan", "China"],
    "gdp": [21400000, 2940000, 2830000, 3870000, 2160000, 1350000, 1780000, 1320000, 516000, 14000000],
    "happiness_index": [7.3, 7.2, 6.5, 7.0, 6.0, 6.3, 7.3, 7.3, 5.9, 5.0]
})

In [12]:
OPENAI_API_KEY = "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"
llm = OpenAI(api_token=OPENAI_API_KEY)

In [13]:
pandas_ai = PandasAI(llm)
pandas_ai.run(df, prompt='What are the 5 happiest countries')

You exceeded your current quota, please check your plan and billing details.

'Unfortunately, I was not able to answer your question, because of the following error:\n\nYou exceeded your current quota, please check your plan and billing details.\n'

In [14]:
pandas_ai.run(df, "Plot the histogram of countries showing for each the gpd, using different colors for each bar")

You exceeded your current quota, please check your plan and billing details.

'Unfortunately, I was not able to answer your question, because of the following error:\n\nYou exceeded your current quota, please check your plan and billing details.\n'